{% extends 'overview.html' %}
{% block state_summary %}
  <p>Arizona’s Renewable Energy Standard and Tariff (REST)—also known as a
    <a href="{{ url_for('glossary.glossary') }}#rps">Renewable Portfolio
    Standard (RPS)</a>—is intended to increase use of renewable resources
    in the state by establishing the minimum amount of renewable energy
    that the state’s electricity providers must sell in a given year.
    This legally-established renewable energy procurement goal gradually
    increases over time to meet the overall target of 15% renewable power
    by 2025.</p>
{% endblock %}
{% block state_overview %}
  <li><b>15%</b> of the state’s retail electric sales from must be from
    renewable sources by <b>2025</b></li>
  <li>Carve-out for <b>distributed generation</b></li>
  <li>No legally defined cost cap</li>
{% endblock %}
{% block state_carveouts %}
  Arizona’s REST requires that 30% of the renewable obligation in each year be fulfilled through
  <a href="{{ url_for('glossary.glossary') }}#distributed_generation">distributed
  generation</a>. This amounts to 4.5% of total annual retail electric
  sales in 2025.
{% endblock %}
{% block state_costcap %}
  <p>Unlike some states, Arizona does not have an explicit
    <a href="{{ url_for('glossary.glossary') }}#cost_cap">‘cost cap’</a>
    or limit on the potential increase in electricity costs as a result
    of this policy. Rather, the <a href="https://www.azcc.gov/"
                                   target="_blank">Arizona Corporation
    Commission (ACC)</a> is responsible for managing these costs by
    approving utility-proposed <a href="{{ url_for('glossary.glossary') }}#tariffs">‘tariffs’</a>.
    Each utility can recover any additional costs imposed by the REST by
    filing a ‘tariff’, or rate adjustment, with the Arizona Corporation
    Commission (ACC). By statute, the ACC must deem the tariff to be
    ‘reasonable and prudent’. The ACC’s decision on what is a ‘reasonable and
    prudent’ premium on renewable energy acts as an implicit cost cap on
    Arizona’s REST. In other words, utilities will not spend more money on
    renewable energy attributes than they are allowed to recover. It is
    also of note that the ACC may waive compliance with the RPS program for
    good cause. Using the <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
    Feasibility Calculator</a> you can act as the ACC, determining what
    level of costs will lead to a viable RPS.</p>
{% endblock %}
{% block state_statute %}
  <p>The Arizona Corporation Commission increased the state’s REST in
    2007. These rules require that investor-owned utilities and electric
    power cooperatives serving retail customers purchase 15% of their
    power (or purchase <a href="{{ url_for('glossary.glossary') }}#rec">RECs</a>
    equivalent to that amount) from renewable sources by 2025. The program is
    administered by the Arizona Corporation Commission. In June 2012, a
    waste-to-energy (municipal solid waste incinerator) pilot was approved as
    an eligible source.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Water Heat, Solar Space Heat, Solar Thermal Electric, Solar Thermal
  Process Heat, Photovoltaics, Landfill Gas, Wind, Biomass, Hydroelectric,
  Geothermal Electric, Geothermal Heat Pumps, CHP/Cogeneration, Solar Pool
  Heating (commercial only), Daylighting (non-residential only), Solar Space
  Cooling, Solar HVAC, Additional technologies upon approval, CHP only counts
  when the source fuel is an eligible renewable energy resource , Anaerobic
  Digestion, Fuel Cells using Renewable Fuels, Geothermal Direct-Use
{% endblock %}
{% block state_geo_eligible %}
  Only renewable energy delivered to Arizona counts toward the standard.
  There is also a credit multiplier to incentivize in-state generation.
{% endblock %}
{% block state_total_load %}
  58.6%
{% endblock %}
{% block state_tech_req %}
  For 2012 and after, 30% of the annual requirement must be met through
  distributed energy resources (4.5% of sales in 2025); half of the
  distributed energy or customer–owned requirement must be met by systems
  among residential customers and the other half from business customers.
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utility, Rural Electric Cooperative, Retail Supplier
{% endblock %}
{% block state_penalty %}
  By statute, state regulators may impose unspecified penalties for
  non-compliance.
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/index.cfm??Incentive_Code=AZ03R"
     target="_blank">DSIRE State RPS Page</a>—Visit for detailed information
    on RPS and complete legislation</li>
  <li><a href="http://apps1.eere.energy.gov/states/state_home.cfm/state=AZ"
         target="_blank">U.S. Department of Energy Office of Energy Efficiency
    and Renewable Energy (EERE)—State Profile</a>—Access your state’s
    EERE page, and find information on renewable resources maps, energy
    statistics, and news</li>
{% endblock %}