{% extends 'overview.html' %}
{% block state_summary %}
  <p>Colorado’s Renewable Energy Standard—also known as a
    <a href="{{ url_for('glossary.glossary') }}#rps">Renewable Portfolio
    Standard (RPS)</a>—is intended to increase use of renewable resources
    in the state by establishing the minimum amount of renewable energy
    that the state’s electricity providers must sell in a given year. This
    legally-established renewable energy procurement goal gradually
    increases over time to meet the overall target of 30% renewable power
    by 2020.</p>
  <p>The state profile below explores the design of this policy, highlighting
    the factors that influence the success of Colorado's RPS goals and the
    tradeoffs inherent to it. Once you’re comfortable with the information
    on this page, you can evaluate the policy’s expected viability with the
    <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
    Feasibility Calculator</a>. You can also use the calculator to change
    the policy requirements, trajectory, cost cap, and more, to see how
    altering Colorado’s policy design affects its success.</p>
{% endblock %}
{% block state_overview %}
  <li><b>30%</b> of the state’s retail electric sales from must be
    from renewable sources by <b>2020</b>, subject to the cost cap</li>
  <li>Carve-out for <b>distributed generation</b></li>
  <li>Explicit cost cap at <b>2%</b> of customer’s annual bill</li>
{% endblock %}
{% block state_carveouts %}
  Colorado’s RPS requires that 3% of the renewable obligation in each year
  be fulfilled through <a href="{{ url_for('glossary.glossary') }}#distributed_generation">distributed
  generation</a>
{% endblock %}
{% block state_costcap %}
  <p>Colorado has an explicit
    <a href="{{ url_for('glossary.glossary') }}#cost_cap">cost cap</a> at 2%
    of the customer’s annual bill. If the premium paid for renewable energy
    by a utility exceeds this amount, the utilities obligation under the RES
    will be reduced to the level of this cost cap (see
    <a href="http://www.lexisnexis.com/hottopics/colorado/" target="_blank">C.R.S
    40-2-124 &sect;1(g)</a>). If a utility is below this cost cap, it can
    acquire renewable energy resources above the minimum level established
    in the RES. This ‘rate impact rule’ applies to both investor-owned
    utilities and electric cooperatives. Using the RPS Feasibility Calculator
    you can make adjustments to the cost cap, determining how this impacts
    the provision of renewable power and the overall viability of the RPS.</p>
{% endblock %}
{% block state_statute %}
  <p>Colorado is the first state to create a RPS through ballot initiative.
    In 2004, voters approved Amendment 37 requiring utilities serving
    40,000 or more customers to generate or purchase enough renewable energy
    to comprise 10% of retail electric sales. It would be increased and
    modified two subsequent times to its current goal of 30% by 2020
    (see <a href="http://www.lexisnexis.com/hottopics/colorado?app=00075&view=full&interface=1&docinfo=off&searchtype=get&search=C.R.S.+40-2-124"
            target="_blank">C.R.S. 40-2-124</a>). These modifications added
    a secondary RPS of 10% by 2020 for electric cooperatives (serving less
    than 100,000 customers) and municipalities (serving over 40,000
    customers). In 2013, <a href="http://www.leg.state.co.us/clics/clics2013a/csl.nsf/fsbillcont3/D1B329AEB8681D4D87257B3900716761?Open&file=252_enr.pdf"
                            target="_blank">S.B. 252</a> added a distributed
    generation carve-out, and created a separate RPS schedule for ‘co-ops’
    serving over 100,000 meters which requires that renewable energy account
    for 20% of sales by 2020 and thereafter.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar-electric, Wind, Geothermal-electric, Biomass facilities that burn
  nontoxic plants, Landfill gas, Animal waste, Hydropower, Recycled energy,
  Fuel cells using renewables-sourced hydrogen
{% endblock %}
{% block state_geo_eligible %}
  No restrictions on location; tradable RECs can be used to satisfy
  requirement, but have life of 5 years from calendar year it was generated.
{% endblock %}
{% block state_total_load %}
  Primary RPS: 58.7%, Secondary RPS: 35.6%
{% endblock %}
{% block state_tech_req %}
  Distributed Generation (IOUs)—3% of the annual requirement (half being
  fulfilled by on-site installations) for 2011 and thereafter; Distributed
  Generation (Coops)—1% for coops serving 10,000 or more meters, 0.75%
  for cooperatives serving less than 10,000 meters
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utilities, Cooperatives and Municipal electric companies
{% endblock %}
{% block state_penalty %}
  By statute, state regulators may impose unspecified penalties for
  non-compliance.
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=CO24R&re=1&ee=1"
         target="_blank">DSIRE State RPS Page</a>—Visit for detailed
    information on RPS and complete legislation</li>
  <li><a href="http://apps1.eere.energy.gov/states/state_home.cfm/state=CO"
         target="_blank">U.S. Department of Energy Office of Energy Efficiency
    and Renewable Energy (EERE)—State Profile</a>—Access your state’s
    EERE page, and find information on renewable resources maps, energy
    statistics, and news</li>
{% endblock %}