{% extends 'overview.html' %}
{% block state_summary %}
  <p>Connecticut’s <a href="{{ url_for('glossary.glossary') }}#rps">Renewable
    Portfolio Standard (RPS)</a> is intended to increase use of renewable
    resources in the state by establishing the minimum amount of renewable
    energy that the state’s electricity providers must sell in a given
    year. This legally-established renewable energy procurement goal
    gradually increases over time to meet the overall target of 23%
    renewable power by 2020. This policy also includes requirements for
    energy efficiency, which are described, but not considered for
    calculations on this and subsequent pages.</p>
{% endblock %}
{% block state_overview %}
  <li><b>23%</b> of the state’s retail electric sales from must be from
    renewable sources by <b>2020</b>, subject to the cost cap</li>
  <li>Allows consideration of small <b>hydroelectric</b>,
    <b>trash-to-energy</b> and some <b>biomass</b></li>
  <li>Implicit ‘cost cap’ defined by compliance payments</li>
{% endblock %}
{% block state_carveouts %}
  Connecticut’s RPS allows for utilities to meet up to 3 percentage points
  of the total renewable energy goal in each year with power from hydroelectric,
  trash-to-energy and some biomass sources.
{% endblock %}
{% block state_costcap %}
  <p>Connecticut does not have an explicit cost cap. However, by allowing
    <a href="{{ url_for('glossary.glossary') }}#acp">alternative compliance
    payments (ACPs)</a>, Connecticut sets an effective cap on the premium
    a utility will be willing to pay for renewable energy. The RPS sets
    this cap at $55/MWh. If the renewable energy premium exceeds this cap,
    the utility would prefer to meet the standard by making the lower
    cost alternative compliance payments. Using the
    <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
      Feasibility Calculator</a> you can make adjustments to cost of
    alternative compliance, determining how this impacts the provision
    of renewable power and the overall viability of the RPS.</p>
{% endblock %}
{% block state_statute %}
  <p>Connecticut’s RPS is governed primarily by
    <a href="http://www.cga.ct.gov/2013/ACT/PA/2013PA-00303-R00SB-01138-PA.htm" target="_blank">Senate
    Bill 1138</a>, enacted on June 5, 2013. The law was originally enacted
    in 1998, but subsequently has been revised into its current form. The
    legislation requires that each electricity wholesale supplier in the
    state purchase 23% of its retail load from renewable sources (of Class
    I and II) by January 1, 2020. The sources defined as Class I and Class
    II materials can be used in combination to meet the 23% RPS requirement,
    with a fixed portion of 3% from either Class I or II throughout the
    schedule, and a ramp-up to 30% from Class I by 2020. Renewable Energy
    Credits (RECs) can be used to satisfy requirements.</p>
  <p>The statute also requires with an additional 4% of its retail load
    required to be accounted for using energy efficiency measures,
    combined heat and power (CHP) or waste heat systems by 2010 and
    thereafter. These are considered Class III sources. The feasibility
    calculator does not consider the costs or benefits of this program</p>
{% endblock %}
{% block state_eligible_tech %}
  <p>(Class I) Solar Thermal Electric, Photovoltaics, Landfill Gas, Wind,
    Biomass, Hydroelectric, Geothermal Electric, Fuel Cells, Low E Renewables,
    Anaerobic Digestion, Tidal Energy, Wave Energy, Ocean Thermal, Fuel Cells
    using Renewable Fuels;</p>
  <p>(Class II) Municipal Solid Waste, other biomass, river hydropower;</p>
  <p>(Class III) CHP/Cogeneration, energy efficiency and conservation
    measures</p>
{% endblock %}
{% block state_geo_eligible %}
  Providers may purchase electricity generated using Connecticut’s
  defined Class I or Class II resources within ISO New England, the
  regional independent system operator, as well as from New York,
  Pennsylvania, New Jersey, Maryland, and Delaware.
{% endblock %}
{% block state_total_load %}
  93.4%
{% endblock %}
{% block state_tech_req %}
  Up to 3 percentage points of the total renewable obligation can come
  from Class II sources
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utility, Retail Suppliers. (Municipal Utilities
  must develop own RPS)
{% endblock %}
{% block state_penalty %}
  <a href="{{ url_for('glossary.glossary') }}#acp">ACPs</a> of $55/MWh
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=CT04R" target="_blank">DSIRE
    State RPS Page</a>—Visit for detailed information on RPS and complete
    legislation</li>
  <li><a href="http://apps1.eere.energy.gov/states/state_home.cfm/state=CT" target="_blank">U.S.
    Department of Energy Office of Energy Efficiency and Renewable Energy (EERE)—State
    Profile</a>—Access your state’s EERE page, and find information on
    renewable resources maps, energy statistics, and news</li>
{% endblock %}