{% extends 'overview.html' %}
{% block state_summary %}
  <p>Hawaii's Renewable Portfolio Standard (RPS) establishes a minimum amount of renewable energy that must be sold by the state's electricity providers. This page identifies and describes the features of the RPS and how they work together to define the minimum amount of renewable energy that will be sold in Hawaii.</p>
{% endblock %}
{% block state_overview %}
  <li><strong>30%</strong> of the state's energy consumption must be from renewable sources by <strong>2020</strong></li>
  <li>Carve-outs for <strong>distributed generation</strong></li>
  <li>Explicit cost cap at 2 percent of electric bill annually</li>
  <li><strong>Two</strong> separate state RPS schedules (primary and secondary)</li>
{% endblock %}
{% block state_carveouts %}
  <p>Colorado's RPS has a technology minimum of 3% of the total RPS requirement by 2020, ramping up from a starting requirement of 1%.</p>
{% endblock %}
{% block state_costcap %}
  <p>Electric Resource Standards in <a href="http://www.leg.state.co.us/clics/clics2013a/csl.nsf/fsbillcont3/D1B329AEB8681D4D87257B3900716761?Open&amp;file=252_enr.pdf">Senate Bill 13-252</a> specify the cost of using renewable sources cannot exceed 2% of customer's electricity bill annually. This rate impact rule applies to both IOUs and coops, and requires the RPS energy obligations to be reduced to the amount necessary to comply with the rule's limitation.</p>
{% endblock %}
{% block state_statute %}
  <p>Colorado is the first state to create a RPS through ballot initiative. In 2004, voters approved Amendment 37 requiring utilities serving 40,000 or more customers to generate or purchase enough renewable energy to comprise 10% of retail electric sales. It would be increased and modified two subsequent times to its current 20%. In 2013, a distributed generation carve-out was added, and coal methane gas and municipal solid waste became eligible technologies (subject to Public Utilities Commission's approval). The same bill--S.B. 252--created a separate RPS schedule for coops, requiring 20% of sales from renewables by 2020 and thereafter.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar-electric, Wind, Geothermal-electric, Biomass facilities that burn nontoxic plants, Landfill gas, Animal waste, Hydropower, Recycled energy, Fuel cells using renewables-sourced hydrogen
{% endblock %}
{% block state_geo_eligible %}
  No Restrictions; tradable RECs can be used to satisfy requirement, but have a life of 5 years from the calendar year it was generated.
{% endblock %}
{% block state_total_load %}
  Primary RPS: 58.7%, Secondary RPS: 35.6%
{% endblock %}
{% block state_tech_req %}
  At least 3% of the annual requirement for IOUs must be from distributed generation; 0.75% for cooperatives
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utilities, Cooperatives and Municipal electric companies
{% endblock %}
{% block state_penalty %}
  None: regulators may impose but amounts not specified
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;Datasets available for download in .xlsx format</li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;Advanced search tool for comparing RPS program data</li>
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=CO24R&amp;re=1&amp;ee=1">DSIRE State Page</a>&nbsp;—&nbsp;Visit for more complete information on RPS details and legislation</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;<i>Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</i></li>
{% endblock %}