{% extends 'overview.html' %}
{% block state_summary %}
  <p>Illinois’s <a href={{ url_for('glossary.glossary') }}#rps">Renewable
    Portfolio Standard (RPS) is intended to increase use of renewable
    resources in the state by establishing the minimum amount of renewable
    energy that the state’s electricity providers must sell in a given
    year. This legally-established renewable energy procurement goal
    gradually increases over time to meet the overall target of 25%
    renewable power by 2025. </p>
{% endblock %}
{% block state_overview %}
  <li><b>25%</b> of the state’s retail electric sales from must be from
    renewable sources by <b>2025</b>, subject to the cost cap</li>
  <li>Carve-outs for <b>wind</b>, <b>solar</b>, <b>distributed
    generation</b></li>
  <li>Explicit cost cap at <b>2%</b> of sales</li>
{% endblock %}
{% block state_carveouts %}
  Illinois’ wind technology requirement comprises the majority of its RPS
  goals at 75% of the standard each year. Smaller requirements for solar and
  distributed generation exist at 6% and 1% of the annual requirement,
  respectively.
{% endblock %}
{% block state_costcap %}
  <p>Illinois has an explicit <a href={{ url_for('glossary.glossary') }}#cost_cap">cost
    cap</a> at 2% of the customer’s annual bill. Renewable energy procurement
    is limited to cost-effective resources. The cost cap is set at ‘the
    greater of an additional 0.5% of the amount paid per kWh during the year
    ending in 2010, or 2% of the amount paid per kWh during the year ending
    May, 2007.’ If exceeded, RPS requirements are placed under a ‘freeze’.
    In addition, a second cost-effectiveness test: cost of procurement of
    renewable energy must not exceed benchmarks based on market prices for
    renewable energy in the region (determined by the IPA). Estimate how
    Illinois’ cost cap can effect their RPS’s efficacy</p>
{% endblock %}
{% block state_statute %}
  <p>The current RPS was enacted in 2007 through creation of Illinois Power
    Agency (IPA). The IPA’s purpose was to develop electricity procurement
    plans for renewable power. The legislation has two compliance schedules;
    a primary and a secondary. The primary states that for investor-owned
    utilities (IOUs), 75% (equal to 18.75% total power sales in 2025) of the
    requirement must be from wind, and the secondary requires 60% for
    alternative retail electric suppliers (ARES) by 2020. The 6% annual solar
    carveout (equating to 1.5% of total retail sales) ramps up for IOUs in
    2013, and in 2016 for ARES. A 1% carve out for distributed generation.
    Renewable generation limited to ‘cost-effective’ resources. Renewable
    energy may be bundled with RECs. In 2011, anaerobic digestion was added
    to eligible resources. A second efficiency portfolio standard exists.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Thermal Electric, Photovoltaics, Landfill Gas, Wind, Biomass,
  Hydroelectric, Anaerobic Digestion, Biodiesel
{% endblock %}
{% block state_geo_eligible %}
  (Only IOUs) Through 2011: in-state (if insufficient cost-effective resources,
  can procure from adjoining states, or regions). After 2011: equal
  preference to in- and out-of-state.
{% endblock %}
{% block state_total_load %}
  Primary RPS: 39.9%, Secondary RPS: 49%
{% endblock %}
{% block state_tech_req %}
  Wind (IOUs)—75% of annual req.; Wind (ARES)—60% of annual req.;
  PV (all)—6% of annual req.; Distributed Generation (IOUs)—1% of annual req.
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utilities, Retail Suppliers. Municipal electric companies
  and Electric Cooperative exempt from RPS.
{% endblock %}
{% block state_penalty %}
  For Com-Ed: $0.946/MWh (for hourly customer loads).
  For Ameren: $0.973/MWh - adjusted annually
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=IL04R&re=1&ee=0"
         target="_blank">DSIRE State RPS Page</a>—Visit for detailed
    information on RPS and complete legislation</li>
  <li><a href="http://apps1.eere.energy.gov/states/state_home.cfm/state=IL"
         target="_blank">U.S. Department of Energy Office of Energy Efficiency
    and Renewable Energy (EERE)—State Profile</a>—Access your state’s
    EERE page, and find information on renewable resources maps, energy
    statistics, and news</li>
{% endblock %}