{% extends 'overview.html' %}
{% block state_summary %}
  <p>Maine's Renewable Portfolio Standard (RPS) establishes a minimum amount of renewable energy that must be sold by the state's electricity providers, in addition to the existing 30% of capacity in Maine. This page identifies and describes the features of the RPS and how they work together to define the minimum amount of renewable energy that will be sold in Maine.</p>
{% endblock %}
{% block state_overview %}
  <li><strong>40%</strong> of the state's energy consumption must be from renewable sources by <strong>2017</strong></li>
  <li>No technology carve-outs.</li>
  <li>Cost cap for percent of sales</li>
{% endblock %}
{% block state_carveouts %}
  <p>N/A</p>
{% endblock %}
{% block state_costcap %}
  <p>Maine does not outline a cost cap on retail electricity.</p>
{% endblock %}
{% block state_statute %}
  <p>Maine's RPS was enacted in 1999 and required 30% of each electricity provider's supply to come from renewable energy. Updates since 1999 have amended the original RPS mandate. At the time of the 1999 mandate, renewable capacity exceeded the 30% requirement. The purpose of the later revisions to the requirement have been to develop electricity procurement plans for renewable power beyond the existing capacity. The current legislation more specifically: an additional 10% of capacity to total 40% of renewable power annually by 2017. Renewable energy may be bundled with GIS certificates, which are similar to RECs, to meet Class I requirements, but not Class II requirements.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Thermal Electric, Photovoltaics, Landfill Gas, Wind, Biomass, Hydroelectric, Geothermal Electric, Fuel Cells, Municipal Solid Waste, CHP/Cogeneration, Tidal Energy, Fuel Cells using Renewable Fuels, Other Distributed Generation Technologies
{% endblock %}
{% block state_geo_eligible %}
  Maine does not outline explicit geographic eligibilities for energy sourcing.
{% endblock %}
{% block state_total_load %}
  Primary RPS: 98.3%
{% endblock %}
{% block state_tech_req %}
  None
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utility, Retail Supplier
{% endblock %}
{% block state_penalty %}
  Alternative compliance payments (ACPs) for the renewable portion of the legislation were originally set to $57.12/MWh in 2007, and is adjusted annually for inflation. The ACP for 2013 is set at $65.28/MWh.
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;Datasets available for download in .xlsx format</li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;Advanced search tool for comparing RPS program data</li>
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=ME01R">DSIRE State Page</a>&nbsp;—&nbsp;Visit for more complete information on RPS details and legislation</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;<i>Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</i></li>
{% endblock %}