{% extends 'overview.html' %}
{% block state_summary %}
  <p>Maryland’s <a href="{{ url_for('glossary.glossary') }}#rps">Renewable
    Portfolio Standard (RPS)</a> is intended to increase use of renewable
    resources in the state by establishing the minimum amount of renewable
    energy that the state’s electricity providers must sell in a given
    year. This legally-established renewable energy procurement goal
    gradually increases over time to meet the overall target of 20% renewable
    power by 2022.</p>
{% endblock %}
{% block state_overview %}
  <li><b>20%</b> of the state’s retail electric sales from must be from
    renewable sources by <b>2022</b> subject to the cost cap</li>
  <li>Carve-out for <b>solar</b> and <b>offshore wind</b></li>
  <li>Explicit cost cap at <b>$1.50</b> increase in average monthly bill</li>
{% endblock %}
{% block state_carveouts %}
  Maryland’s RPS includes
  a small carve-out for solar technologies, which grows to about 11% of
  the total RPS requirement by 2022. The Maryland General Assembly recently
  established a <a href="http://mgaleg.maryland.gov/2013RS/bills/hb/hb0226e.pdf">new
  standard</a> for offshore wind. This legislation places a maximum size of
  the carve-out at 2.5%, but the final schedule for implementation is yet
  to be determined.
{% endblock %}
{% block state_costcap %}
  <p>Maryland does not have an overall explicit cost cap. However, by
    allowing <a href="{{ url_for('glossary.glossary') }}#acp">alternative
    compliance payments (ACPs)</a>, Maryland sets an effective cap on the
    premium a utility will be willing to pay for renewable energy. The
    RPS sets different ACP rates for different classes of energy established
    by the statute (see below). If the renewable energy premium exceeds
    this cap, the utility would prefer to meet the standard by making the
    lower cost alternative compliance payments. Maryland utilizes an
    explicit cost cap to govern the solar and offshore wind carve-outs.
    The limit on solar RECs is set to a 1% increase in a utilities revenue
    from electric sales in Maryland. If exceeded, this will pause the RPS.
    Similarly, Maryland limits the potential cost to customers of a large
    offshore wind project to $1.50 increase in average residential bill.
    Using the <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
    Feasibility Calculator</a> you can make adjustments to cost of
    alternative compliance, determining how this impacts the provision of
    renewable power and the overall viability of the RPS.</p>
{% endblock %}
{% block state_statute %}
  <p>Maryland’s current RPS was originally enacted in 2004 and has since
    been amended multiple times. Most recently Maryland’s RPS was updated
    to include a carve-out for offshore wind. The implementation of this
    carve-out is yet to be determined. Currently, statute requires that
    20% of the state’s retail electric sales come from renewable sources by
    2022. In addition to the solar carve-out, each general annual
    requirement (until 2019) is divided into two tiers of generation.
    Tier 1 includes renewable sources like solar, wind, biomass and
    geothermal energy. As of 2011, it includes waste-to-energy sources,
    including poultry-litter incineration. After 2011, Tier 2 serves to
    allow a small amount of hydropower to count toward the RPS. This policy
    is currently administered by the
    <a href="http://webapp.psc.state.md.us/intranet/ElectricInfo/home_new.cfm">Maryland
    Public Service Commission</a>.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Water Heat, Solar Thermal Electric, Photovoltaics, Landfill Gas,
  Wind, Biomass, Hydroelectric, Geothermal Electric, Geothermal Heat Pumps,
  Municipal Solid Waste, Anaerobic Digestion, Tidal Energy, Wave Energy,
  Ocean Thermal, Fuel Cells using Renewable Fuels, Geothermal Direct-Use
{% endblock %}
{% block state_geo_eligible %}
  RECs generated in PJM or delivered to PJM are eligible for the RPS
{% endblock %}
{% block state_total_load %}
  93.4%
{% endblock %}
{% block state_tech_req %}
  Solar—2% by 2020, Offshore wind—yet to be finalized. The general RPS is
  divided into two tiers of generation with their own requirements in each year.
{% endblock %}
{% block state_sectors %}
  Municipal Utility, Investor-Owned Utility, Rural Electric Cooperative,
  Retail Supplier
{% endblock %}
{% block state_penalty %}
  Alternative Compliance Payments: $0.02/kWh for Tier I resources,
  $0.015/kWh for Tier II sources, $0.45/kWh for solar in 2008, $0.40kWh
  for solar in 2009 decreasing by $0.05 biannually until 2023
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=MD05R"
         target="_blank">DSIRE State RPS Page</a>—Visit for detailed
    information on RPS and complete legislation</li>
  <li><a href="http://webapp.psc.state.md.us/intranet/ElectricInfo/home_new.cfm"
         target="_blank">Maryland RPS Documents</a>—A repository of official
    state documents describing the RPS and its implementation</li>
{% endblock %}