{% extends 'overview.html' %}
{% block state_summary %}
  <p>Montana's Renewable Portfolio Standard (RPS) establishes a minimum amount of renewable energy generation capacity that must be acquired by state electric utilities. This page identifies and describes the features of the RPS and how they work together to define the minimum amount of renewable energy that will be sold in Montana.</p>
{% endblock %}
{% block state_overview %}
  <li><strong>15%</strong> of retail sales by 2015</li>
  <li><strong>No</strong> minimum technology requirements</li>
  <li>Cost cap at 15% of alternative source price</li>
{% endblock %}
{% block state_carveouts %}
  <p>Montana does not have any minimum technology requirements.</p>
{% endblock %}
{% block state_costcap %}
  <p>Utilities do not have to purchase power from renewable sources if the cost exceeds a 15% increase in cost of an alternative source. See <a href="http://leg.mt.gov/bills/mca/69/3/69-3-2007.htm">Title 69 Chapter 3</a></p>
{% endblock %}
{% block state_statute %}
  <p>Originally enacted in <a href="http://leg.mt.gov/bills/mca/69/3/69-3-2004.htm">2005</a>, and updated as recently as 2013, Montana's Renewable Resource Standard requirs that 15% of retail electricity sales in the state come from renewable sources by 2015. Although there are no technology requirements, state law does require that utilities purchase a minimum amount of power (50MW escalating to 75MW) from 'community renewable energy projects'. The program is administed by the Montana Public Service Commission.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Thermal Electric, Photovoltaics, Landfill Gas, Wind, Biomass, Hydroelectric, Geothermal Electric, Compressed Air Energy Storage (From Eligible Renewables), Anaerobic Digestion, Fuel Cells using Renewable Fuels
{% endblock %}
{% block state_geo_eligible %}
  Generation can be located in other states as long as the electricity produced is deliverred into Montana.
{% endblock %}
{% block state_total_load %}
  66.6%
{% endblock %}
{% block state_tech_req %}
  None
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utility, Retail Supplier
{% endblock %}
{% block state_penalty %}
  $10 per MWh of credits that the utility failed to procure.
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;<i>Datasets available for download in .xlsx format<i></i></i></li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;<i>Advanced search tool for comparing RPS program data<i></i></i></li>
{% endblock %}
{% block state_references %}
  <li><a href="http://leg.mt.gov/content/Committees/Interim/2013-2014/Energy-and-Telecommunications/Meetings/June-2013/Overview.pdf">An Introduction to the Montana Renewable Portfolio Standard</a>&nbsp;—&nbsp;Overview of RPS prepared for Montana state representatives</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;<i>Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</i></li>
{% endblock %}