{% extends 'overview.html' %}
{% block state_summary %}
  <p>Nevada's Renewable Portfolio Standard (RPS) establishes a minimum amount of renewable energy that must be sold by the state's electricity providers. This page identifies and describes the features of the RPS and how they work together to define the minimum amount of renewable energy that will be sold in Nevada.</p>
{% endblock %}
{% block state_overview %}
  <li>25% of the state's energy consumption must be from renewable sources by 2025</li>
  <li>Solar carve out</li>
  <li>No explicit cost cap</li>
{% endblock %}
{% block state_carveouts %}
  <p>N/A</p>
{% endblock %}
{% block state_costcap %}
  <p>No explicit cost cap exists. All new contracts must be approved by the PUC. If insufficient supply is available at  just and reasonable terms (as determined by the PUC), then the PUC may choose to exempt the provider from remaining RPS requirements.</p>
{% endblock %}
{% block state_statute %}
  <p>Nevada's original RPS was established in 1997. Most recently updated in 2009, investor-owned utilities and  retail suppliers will be required to acheive 25% of retail sales from renewable sources by 2025.  New energy efficiency measures count toward the goal. Nevada statute also requires the retirement of 800 MW of coal plants,  to be replaced with cleaner sources (including at minimum 350 MW from renewable sources). The RPS is administered by the  Public Utilities Commission of Nevada.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Water Heat, Solar Space Heat, Solar Thermal Electric, Solar Thermal Process Heat, Photovoltaics,  Landfill Gas, Wind, Biomass, Hydroelectric, Geothermal Electric, Municipal Solid Waste, Waste Tires  (using microwave reduction), Energy Recovery Processes, Solar Pool Heating, Anaerobic Digestion, Biodiesel,  Geothermal Direct-Use
{% endblock %}
{% block state_geo_eligible %}
  Only energy produced in Nevada or delivered to Nevada applies toward the RPS goal
{% endblock %}
{% block state_total_load %}
  88.6%
{% endblock %}
{% block state_tech_req %}
  Through 2015, 5% of the annual RPS requirement (1.2% of sales in 2015) must be fulfilled through solar. For the period 2016 to 2025, it rises to 6% of generation (1.5% of sales in 2025)
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utilities, Retail Suppliers
{% endblock %}
{% block state_penalty %}
  According to the legislation, state regulators may impose penalties, but none have been specified to date.
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;Datasets available for download in .xlsx format</li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;Advanced search tool for comparing RPS program data</li>
  <li><a href="http://www.nrdc.org/energy/renewables/nevada.asp">Natural Resources Defense Council (NRDC) State Profile</a>&nbsp;—&nbsp;Your state has a NRDC renewable energy resources profile; find state resources and learn about the technology</li>
  <li><a href="http://apps1.eere.energy.gov/states/state_home.cfm/state=NV">U.S. Department of Energy Office of Energy Efficiency and Renewable Energy (EERE) -- State Profile</a>&nbsp;—&nbsp;Access your state’s EERE page, and find information on renewable resources maps, energy statistics, and news</li>
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/index.cfm?re=0&amp;ee=0&amp;srp=1&amp;state=NV">DSIRE State Page</a>&nbsp;—&nbsp;Visit for more complete information on RPS details and legislation</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</li>
{% endblock %}