{% extends 'overview.html' %}
{% block state_summary %}
  <p>Rhode Island’s Renewable Energy Standard (RES)—also known as a
    <a href="{{ url_for('glossary.glossary') }}#rps">Renewable Portfolio
    Standard (RPS)</a>—is intended to increase use of renewable
    resources in the state by establishing the minimum amount of renewable
    energy that the state’s electricity providers must sell in a
    given year. This legally-established renewable energy procurement
    goal gradually increases over time to meet the overall target of
    16% renewable power by 2019.</p>
  <p>The state profile below explores the design of this policy,
    highlighting the factors that influence the success of Rhode Island’s
    RPS goals and the tradeoffs inherent to it. Once you’re comfortable
    with the information on this page, you can evaluate the policy’s
    expected viability with the <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
      Feasibility Calculator</a>. You can also use the calculator to
    change the policy requirements, trajectory, cost cap, and more, to
    see how altering Rhode Island’s policy design affects its success.</p>
{% endblock %}
{% block state_overview %}
  <li><b>16%</b> of the state’s retail electric sales from must be from
    renewable sources by <b>2019</b>, cost cap</li>
  <li><i>De facto</i> carve-out for <b>solar</b> as part of separate
    policy</li>
  <li>Implicit ‘cost cap’ defined by compliance payments</li>
{% endblock %}
{% block state_carveouts %}
  Rhode Island’s RES does not have any carve-outs. However, the state’s
  Long-Term Contracting Standard for Renewable Energy (2009) establishes a
  <i>de facto</i> carve-out for in-state solar (3 MW capacity per utility by
  2014). <a href="http://sos.ri.gov/documents/archives/regdocs/released/pdf/PUC/5933.pdf">Rules</a>
  established by Rhode Island’s Public Utilities Commission.</p>
{% endblock %}
{% block state_costcap %}
  <p>Rhode Island does not have an explicit cost cap. However, by allowing
    <a href="{{ url_for('glossary.glossary') }}#acp">alternative compliance
      payments (ACPs)</a>, Rhode Island sets an effective cap on the premium
    a utility will be willing to pay for renewable energy. The RPS sets
    this cap at $50/MWh. This price was set in 2003 and, by statute, is
    adjusted annually by the consumer price index. In 2014, the cost of
    an ACP is $63.80. If the renewable energy premium exceeds this cap,
    the utility would prefer to meet the standard by making the lower cost
    alternative compliance payments. Using the <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
    Feasibility Calculator</a> you can make adjustments to cost of
    alternative compliance, determining how this impacts the provision of
    renewable power and the overall viability of the RPS.</p>
{% endblock %}
{% block state_statute %}
  <p>Established in 2004, with compliance required beginning in 2007,
    Rhode Island’s Renewable Energy Standard requires that all obligated
    utilities procure 16% of retail electric sales from renewable sources
    by 2020. The maximum amount of existing renewable resources that can
    be applied to compliance with the standard is capped at 2.0% of total
    retail sales. This law is administered by the Rhode Island Public
    Utilities Commission. In a seperate 2009 law
    (<a href="http://webserver.rilin.state.ri.us/Statutes/TITLE39/39-26.1/39-26.1-1.HTM"
        target=”_blank”>Long-term Contracting Standard for Renewable Energy</a>)
    electric distribution companies will be required to enter into long-term
    contracts with new renewable energy facilities totaling 90 MW of
    capacity by 2014 (of which 3 MW must be from in-state solar).</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Thermal Electric, Photovoltaics, Landfill Gas, Wind, Biomass,
  Hydroelectric, Geothermal Electric, Anaerobic Digestion, Tidal Energy,
  Wave Energy, Ocean Thermal, Biodiesel, Fuel Cells using Renewable Fuels
{% endblock %}
{% block state_geo_eligible %}
  All credits must be generated within or delivered into the New England
  Power Pool (NEPOOL) Control Area
{% endblock %}
{% block state_total_load %}
  99.3%
{% endblock %}
{% block state_tech_req %}
  None
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utility, Retail Supplier
{% endblock %}
{% block state_penalty %}
  <a href="{{ url_for('glossary.glossary') }}#acp">Alternative compliance
  payment (ACPs)</a> of $50 2003 dollars adjusted by the consumer price
  index (currently <a href="http://www.bls.gov/data/inflation_calculator.htm"
                      target="_blank">$63.80</a>) per MWh of renewable
  energy obligation
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=RI08R"
         target="_blank">DSIRE State RPS Page</a>—Visit for detailed
    information on RPS and complete legislation</li>
{% endblock %}