{% extends 'overview.html' %}
{% block state_summary %}
  <p>Washington's Renewable Portfolio Standard (RPS) establishes a minimum amount of renewable energy that must be sold by the state's electricity providers. This page identifies and describes the features of the RPS and how they work together to define the minimum amount of renewable energy that will be sold in Washington.</p>
{% endblock %}
{% block state_overview %}
  <li><strong>15%</strong> of the state's energy consumption must be from renewable sources by <strong>2020</strong></li>
  <li>No technology carve-outs</li>
  <li>No explicit cost cap</li>
{% endblock %}
{% block state_carveouts %}
  <p>Washington's RPS does not have any technology requirements.</p>
{% endblock %}
{% block state_costcap %}
  <p>Investor-Owned Utilities are entitled to recover incurred costs associated with <a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.050">incremental renewable resource costs</a></p>
{% endblock %}
{% block state_statute %}
  <p>Washington's RPS was enacted in 2006, and required any utility serving more than 25,000 to obtain 15% of its electricity from renewable sources by 2020. In addition, the state requires utilities subject to the RPS to pursue all conservation that is cost-effective by January 2010. They must identify achievable potential through 2019, with reviews and updates every two years for ten years.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Thermal Electric, Photovoltaics, Wind, Biomass, Biodiesel, Landfill Gas, Anaerobic Digestion, Hydroelectric, Tidal Energy, Ocean Thermal, Geothermal Electric
{% endblock %}
{% block state_geo_eligible %}
  For utilities serving out-of-state customers, a qualifying facility must be located in the state in which it services the customers (as found in
{% endblock %}
{% block state_total_load %}
  84.7%
{% endblock %}
{% block state_tech_req %}
  None
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utilities, Municipal Utilities, Public Utility Districts, Rural Electric Cooperatives
{% endblock %}
{% block state_penalty %}
  A qualifying utility that fails to comply with the conservation or energy targets must pay an administrative penalty of $50/MWh of shortfall. Starting in 2007, the amount is adjusted annually according to rate of change of the U.S. inflation indicator. Collections are deposited into the <a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.060">energy independence act special account</a>. Exceptions include utilities in compliance with <a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.040">RCW 19.285.040 (d)</a> and <a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.050">19.285.050(1)</a>.
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;Datasets available for download in .xlsx format</li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;Advanced search tool for comparing RPS program data</li>
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=WA15R&amp;re=1&amp;ee=1">DSIRE State Page</a>&nbsp;—&nbsp;Visit for more complete information on RPS details and legislation</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;<i>Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</i></li>
{% endblock %}