{% extends 'overview.html' %}
{% block state_summary %}
  <p>Washington’s <a href="{{ url_for('glossary.glossary') }}#rps">Renewable
    Portfolio Standard (RPS)</a> is intended to increase use of renewable
    resources in the state by establishing the minimum amount of renewable
    energy that the state’s electricity providers must sell in a given year.
    This legally-established renewable energy procurement goal gradually
    increases over time to meet the overall target of 15% renewable power
    by 2020.</p>
  <p>The state profile below explores the design of this policy, highlighting
    the factors that influence the success of Washington’s RPS goals and the
    tradeoffs inherent to it. Once you’re comfortable with the information
    on this page, you can evaluate the policy’s expected viability with the
    <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
    Feasibility Calculator</a>. You can also use the calculator to change
    the policy requirements, trajectory, cost cap, and more, to see how
    altering Washington’s policy design affects its success.</p>
{% endblock %}
{% block state_overview %}
  <li><b>15%</b> of the state’s retail electric sales from must be from
    renewable sources by <b>2020</b>, subject to the cost cap</li>
  <li>No carve-outs</li>
  <li>Implicit ‘cost cap’ defined by compliance payments</li>
{% endblock %}
{% block state_carveouts %}
  Washington’s RPS does not require specific technologies to meet its
  annual renewable obligations.
{% endblock %}
{% block state_costcap %}
  <p>Washington does not have an explicit cost cap. However, by allowing
    <a href="{{ url_for('glossary.glossary') }}#acp">alternative
    compliance payments (ACPs)</a>, Washington sets an effective cap
    on the premium a utility will be willing to pay for renewable energy.
    The RPS set this cap in 2007 at $50/MWh, which is adjusted annually
    for inflation (see <a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.060"
                          target=”_blank”>RCW 19.285.060</a>).
    If the renewable energy premium exceeds this cap, the utility would
    prefer to meet the standard by making the lower-cost alternative
    compliance payments. Using the <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
    Feasibility Calculator</a> you can make adjustments to cost of
    alternative compliance, determining how this impacts the provision
    of renewable power and the overall viability of the RPS.</p>
{% endblock %}
{% block state_statute %}
  <p>Washington’s RPS was enacted in 2006, and required any utility
    serving more than 25,000 to obtain 15% of its electricity from
    renewable sources by 2020 (<a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.040"
                                  target=”_blank”>RCW 19.285.040</a>)
    or spend at least four percent of its annual retail revenue on
    renewable energy premiums(<a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.050"
                                 target=”_blank”>RCW 19.285.050</a>).
    Utilities can recover all “prudent” costs from ratepayers (this
    includes spending beyond 4% of revenue, which is why it does not
    affect the cost cap). In addition, the state requires utilities subject
    to the RPS to pursue all energy conservation that is cost-effective
    by January 2010. They must identify achievable potential through 2019,
    with reviews and updates every two years for ten years.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Thermal Electric, Photovoltaics, Wind, Biomass, Biodiesel,
  Landfill Gas, Anaerobic Digestion, Hydroelectric, Tidal Energy,
  Ocean Thermal, Geothermal Electric
{% endblock %}
{% block state_geo_eligible %}
  For utilities serving out-of-state customers, a qualifying facility
  must be located in the state in which it services the customers
  (as found in <a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.030"
                  target=”_blank”>RCW 19.285.030(12)(d)</a>
{% endblock %}
{% block state_total_load %}
  84.7%
{% endblock %}
{% block state_tech_req %}
  None
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utilities, Municipal Utilities, Public Utility Districts,
  Rural Electric Cooperatives
{% endblock %}
{% block state_penalty %}
  A qualifying utility that fails to comply with the conservation or
  energy targets must pay an administrative penalty of $50/MWh of
  shortfall. Starting in 2007, the amount is adjusted annually according
  to rate of change of the U.S. inflation indicator. Collections are
  deposited into the <a href="http://apps.leg.wa.gov/RCW/default.aspx?cite=19.285.060"
                        target="_blank">energy independence act special account</a>.
{% endblock %}
{% block state_references %}
  <a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=WA15R&re=1&ee=1"
     target="_blank">DSIRE State RPS Page</a>—Visit for detailed information
  on RPS and complete legislation
{% endblock %}