{% extends 'overview.html' %}
{% block state_summary %}
  <p>Wisonsin’s <a href="{{ url_for('glossary.glossary') }}#rps">Renewable
    Portfolio Standard (RPS)</a> is intended to increase use of renewable
    resources in the state by establishing the minimum amount of renewable
    energy that the state’s electricity providers must sell in a given
    year. This legally-established renewable energy procurement goal
    gradually increases over time to meet the overall target of 15%
    renewable power by 2025.</p>
  <p>The state profile below explores the design of this policy,
    highlighting the factors that influence the success of Wisconsin’s
    RPS goals and the tradeoffs inherent to it. Once you’re comfortable
    with the information on this page, you can evaluate the policy’s
    expected viability with the <a href="{{ url_for('calculator.trajectory', state=state) }}">RPS
    Feasibility Calculator</a>. You can also use the calculator to
    change the policy requirements, trajectory, cost cap, and more, to
    see how altering Wisconsin’s policy design affects its success.</p>
{% endblock %}
{% block state_overview %}
  <li><b>10%</b> of the state’s retail electric sales from must be
    from renewable sources by, <b>2015</b>, subject to the
    <a href="{{ url_for('glossary.glossary') }}#cost_cap">‘cost cap’</a></li>
  <li>No carve-outs</li>
  <li>No legally defined <a href="{{ url_for('glossary.glossary') }}#cost_cap">‘cost cap’</a></li>
{% endblock %}
{% block state_carveouts %}
  <p><a href="{{ url_for('glossary.glossary') }}#carveout">Carve-outs</a>
    can create economic opportunities in the state by introducing new or
    promising technologies into the market. However, these standards
    limit the utilities’ ability to substitute between renewable
    energy sources, potentially increasing the cost of the policy.
    Wisconsin’s RPS does not require specific technologies to meet
    its annual renewable obligations.</p>
{% endblock %}
{% block state_costcap %}
  <p></p>
{% endblock %}
{% block state_statute %}
  <p>Wisconsin enacted Act 9 in 1999; the first state to introduce a
    RPS without having restructured its electric-utility industry.
    Originally the RPS required 2.2% of electricity sold to be from
    renewables by 2012. In 2006, the goal was increased to 10% by 2015.
    Providers can petition the Public Service Commission to extend the
    compliance deadline.</p>
{% endblock %}
{% block state_eligible_tech %}
  Photovoltaics, Wind, Biomass, Biodiesel, Hydroelectric, Solar Water Heat,
  Solar Thermal Electric, Solar Thermal Process Heat, Geothermal Electric,
  Geothermal Heat Pumps, Landfill Gas, Municipal Solid Waste, Biogas,
  Anaerobic Digestion, Tidal Energy, CHP/Cogeneration, Fuel Cells using
  Renewable Fuels
{% endblock %}
{% block state_geo_eligible %}
  Renewable energy generated outside of Wisconsin is eligible, but only if
  the utility delivers it to customers in-state.
{% endblock %}
{% block state_total_load %}
  100%
{% endblock %}
{% block state_tech_req %}
  None
{% endblock %}
{% block state_sectors %}
  Utility, Investor-Owned Utility, Municipal Utility, Rural Electric Cooperative
{% endblock %}
{% block state_penalty %}
  None
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;Datasets available for download in .xlsx format</li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;Advanced search tool for comparing RPS program data</li>
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=WI05R&amp;re=0&amp;ee=0">DSIRE State Page</a>&nbsp;—&nbsp;Visit for more complete information on RPS details and legislation</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;<i>Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</i></li>
{% endblock %}