{% extends 'overview.html' %}
{% block state_summary %}
  <p>Wisconsin's Renewable Portfolio Standard (RPS) establishes a minimum amount of renewable energy that must be sold by the state's electricity providers. This page identifies and describes the features of the RPS and how they work together to define the minimum amount of renewable energy that will be sold in Wisconsin.</p>
{% endblock %}
{% block state_overview %}
  <li><strong>9.57%</strong> of the state's energy consumption must be from renewable sources by <strong>2015</strong></li>
  <li><strong>No</strong> carve-outs</li>
  <li>No explicit cost cap</li>
{% endblock %}
{% block state_carveouts %}
  <p>The chart below is a carve-out breakdown for the RPS, also demonstrating overall ramp-up.</p>
{% endblock %}
{% block state_costcap %}
  <p>Wisconsin does not have an explicit cost cap</p>
{% endblock %}
{% block state_statute %}
  <p>Wisconsin enacted Act 9 in 1999; the first state to introduce a RPS without having restructured its electric-utility industry. Originally the RPS required 2.2% of electricity sold to be from renewables by 2012. In 2006, the goal was increased to 10% by 2015. Providers can petition the Public Service Commission to extend the compliance deadline.</p>
{% endblock %}
{% block state_eligible_tech %}
  Photovoltaics, Wind, Biomass, Biodiesel, Hydroelectric, Solar Water Heat, Solar Thermal Electric, Solar Thermal Process Heat, Geothermal Electric, Geothermal Heat Pumps, Landfill Gas, Municipal Solid Waste, Biogas, Anaerobic Digestion, Tidal Energy, CHP/Cogeneration, Fuel Cells using Renewable Fuels
{% endblock %}
{% block state_geo_eligible %}
  Renewable energy generated outside of Wisconsin is eligible, but only if the utility delivers it to customers in-state.
{% endblock %}
{% block state_total_load %}
  100%
{% endblock %}
{% block state_tech_req %}
  None
{% endblock %}
{% block state_sectors %}
  Utility, Investor-Owned Utility, Municipal Utility, Rural Electric Cooperative
{% endblock %}
{% block state_penalty %}
  None
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;Datasets available for download in .xlsx format</li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;Advanced search tool for comparing RPS program data</li>
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=WI05R&amp;re=0&amp;ee=0">DSIRE State Page</a>&nbsp;—&nbsp;Visit for more complete information on RPS details and legislation</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;<i>Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</i></li>
{% endblock %}