<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/static/css/basic_chart.css">
</head>
<body>
<p>Basic charts</p>
<div id=drag></div>
<div id=stacked></div>
<script src="/static/js/vendor/d3.v3.min.js"></script>
<script src="/static/js/graphs/stacked_chart.js"></script>
<script>
  var width = 800,
      height = 300,
      parse_date = d3.time.format('%Y').parse;
  d3.json('/static/js/state_data.json', function(_data) {
    _s = _data.features.filter(function(d) {
      return (d.properties.machine_name == 'illinois') ? d : null;
    })[0];

    _s.properties.carveouts.forEach(function(d, i) {
      if (d.type === 'wind' || d.type === 'solar') {
        d.data.forEach(function(dd, ii) {
          var _t = _s.properties.trajectory[ii];
          d.data[ii] = {x: parse_date(String(ii + 2000)), y: _t === 0 ? 0 : dd / _s.properties.trajectory[ii] * 100, type: d.type};
        });
      } else {
        _s.properties.carveouts.splice(i, 1);
      }
    });
    _s.properties.carveouts.sort(function(a, b) { return a.data[a.data.length-1].y < b.data[b.data.length-1].y ? -1 : a.data[a.data.length-1].y > b.data[b.data.length-1].y ? 1 : 0 });
    d3.select('#stacked').style('width', width + 'px').style('height', height + 'px');
    var foo = new RPSGraph()
      .padding(10, 10, 30, 30)
      .width(width).height(height)
      .select('#drag')
      .x(d3.time.scale())
      .y(d3.scale.linear())
      .domain([new Date(2013, 0, 1), new Date(2030, 0, 1)], [0, 100])
      .max_domains([50, 100])
      .format_x(function(x) { return x.getFullYear(); })
      .format_y(function(y) { return d3.format('.1f')(y); })
      .data(_s.properties.carveouts)
      .stacked(true)
      .hoverable(true)
      .draggable(true, false)
{#      .ghost(_s.properties.trajectory)#}
{#      .default_line(_s.properties.trajectory)#}

{#      .colors(['#f00'])#}
      .h_grid(true)
      .draw();
  });
</script>
</body>
</html>
