body { background-color: #eeeeee; font-family: Calibri, Helvetica, Arial, sans-serif; }

line, rect, path { stroke-linecap: round; fill: none; stroke: none; stroke-width: 1; }

text { font-size: 0.7em; color: #999999; }

.chart-line { stroke-width: 2; }

.chart-area { stroke-width: 0; }

.mask { fill: #eeeeee; }

.grid-line { stroke: white; stroke-width: 2; }

path.domain { stroke: #999999; stroke-width: 2; }

.default_line { stroke: black; stroke-width: 2; stroke-dasharray: 1, 8; }

.data-point { stroke-width: 3; cursor: ns-resize; stroke: transparent; fill: transparent; pointer-events: none; }
.data-point .loose { stroke-width: 5; pointer-events: all; }
.data-point.active { fill: #eeeeee; stroke: black; }
.data-point.draggable { pointer-events: all; }
.data-point.draggable.hovered { fill: black; }

.chart-wrap { position: relative; }

#switches { padding: 0 0 0 50px; }

.switch-group { font-size: 0.8em; }

.switch { cursor: pointer; color: #bbbbbb; font-weight: bold; }
.switch.active { color: #d55e00; }

.chart-input { float: left; margin-left: 2px; border: 1px solid #999999; display: block; padding: 2px 5px; font-size: 0.7em; }

#tool_tip { position: absolute; visibility: hidden; padding: 2px 5px; color: white; background-color: black; opacity: 0.8; font-size: 0.7em; pointer-events: none; }
#tool_tip.active { visibility: visible; }

.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */*text-indent: -9999px */ }

.ir:before { content: ""; display: block; width: 0; height: 150%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /*Don't show links for images,or javascript/internal links */
  .ir a:after, a[href^="javascript: "]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; /* h5bp.com/t */ }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
