{% extends 'overview.html' %}
{% block state_summary %}
  <p>Iowa's Alternative Energy Law (REL) establishes a minimum amount of renewable energy that must be purchased by the state's electricity providers. This page identifies and describes the features of the RPS and how they work together to define the minimum amount of renewable energy that will be sold in Iowa.</p>
{% endblock %}
{% block state_overview %}
  <li><strong>105 MW</strong> of renewable sources</li>
  <li><strong>No</strong> Carve-outs</li>
  <li>No explicit cost cap</li>
  <li><strong>Two</strong> separate state RPS schedules (primary and secondary)</li>
{% endblock %}
{% block state_carveouts %}
  <p>N/A</p>
{% endblock %}
{% block state_costcap %}
  <p>N/A</p>
{% endblock %}
{% block state_statute %}
  <p>The Iowa Renewable Energy Law is a capacity-based standard, which requires its investor-owned utilities to own or contract a total of 105 MW of renewable energy. It is split between MidAmerican Energy (55.2 MW, 52.57% of demand) and Alliant Energy Interstate Power and Light (49.8 MW., 47.43% of demand). There are no mandated increases, and the target has already been achieved.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar, Wind, Waste management, Resource recovery, Refuse-derived fuel, Agricultural crops or residues, Wood-burning facilities, or Small hydropower facilities
{% endblock %}
{% block state_geo_eligible %}
  In-state
{% endblock %}
{% block state_total_load %}
  75.7%
{% endblock %}
{% block state_tech_req %}
  None (voluntary goal of 1,000 MW wind by 2010)
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utilities
{% endblock %}
{% block state_penalty %}
  None
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;Datasets available for download in .xlsx format</li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;Advanced search tool for comparing RPS program data</li>
{% endblock %}
{% block state_references %}
  <li><a href="http://www.dsireusa.org/incentives/incentive.cfm?Incentive_Code=IA01R&amp;re=1&amp;ee=1">DSIRE State Page</a>&nbsp;—&nbsp;Visit for more complete information on RPS details and legislation</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;<i>Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</i></li>
{% endblock %}