{% extends 'overview.html' %}
{% block state_summary %}
  <p>Ohio's Renewable Portfolio Standard (actually called Alternative Energy Portfolio Standard or AEPS) establishes a minimum amount of renewable energy generation capacity that must be acquired by state electric utilities. Ohio's AEPS also establishes a minimum amount of 'alternative energy' required to be used in the state. This analysis will not consider the 'alternative' portion of the statute. Rather, this page will identify and describe only the features of the AEPS that set a standard for renewable energy.</p>
{% endblock %}
{% block state_overview %}
  <li><strong>12.5%</strong> of retail sales by 2025</li>
  <li>Carve-out for solar energy</li>
  <li>Cost-cap at 3% of projected cost</li>
{% endblock %}
{% block state_carveouts %}
  <p>N/A</p>
{% endblock %}
{% block state_costcap %}
  <p>Utilities will not be meet their annual requirement if doing so can be 'reasonably expected' to raise their costs by 3%</p>
{% endblock %}
{% block state_statute %}
  <p>Originally enacted in 2008, Ohio's AEPS sets a standard for both renewable energy and alternative energy. Given the broad definition of 'alternative energy' established by the state, this page only considers the renewable portion of the legislation. This half of the statute requires that 15% of the state's retail electric sales come from renewable sources by 2024. Ohio's AEPS is administered by the Public Utilities Commission of Ohio.</p>
{% endblock %}
{% block state_eligible_tech %}
  Solar Photovoltaics (PV), Solar Thermal (to produce electricity), Wind, Geothermal, Biomass, Biologically Derived Methane Gas, Landfill Gas, Non-treated Waste Biomass Products, Solid Waste (except combustion),Fuel Cells, Storage Facilities (limited), and Hydroelectric Facilities (limited)
{% endblock %}
{% block state_geo_eligible %}
  50% of Ohio's renewable energy standard must be generated in state, while the other 50% must be deliverable into the state
{% endblock %}
{% block state_total_load %}
  88.6%
{% endblock %}
{% block state_tech_req %}
  A minimum of 0.5% of retail electric sales must come from solar-energy-resources by 2024
{% endblock %}
{% block state_sectors %}
  Investor-Owned Utility, Retail Supplier
{% endblock %}
{% block state_penalty %}
  Alternative compliance payments (ACPs) for the renewable portion of the legislation were originally set to $45/MWhr (which can be adjusted annually by the Consumer Price Index). ACPs for the solar portion of the requirement were originally set to $450/MWhr, reduced to $400/MWhr for 2010 and 2011, and will be further reduced by $50/MWhr every two years thereafter. A utility cannot recover the cost of ACPs from its customers.
{% endblock %}
{% block state_tools %}
  <li><a href="http://www.dsireusa.org/rpsdata/index.cfm">Database of State Incentives for Renewables &amp; Efficiency (DSIRE) RPS data page</a>&nbsp;—&nbsp;<i>Datasets available for download in .xlsx format<i></i></i></li>
  <li><a href="http://mjbeck.emtoolbox.com/?page=Renewable_Portfolio_Standards">MJBeck RPS EDGE</a>&nbsp;—&nbsp;<i>Advanced search tool for comparing RPS program data<i></i></i></li>
{% endblock %}
{% block state_references %}
  <li><a href="http://www.puco.ohio.gov/puco/index.cfm/industry-information/industry-topics/ohioe28099s-renewable-and-advanced-energy-portfolio-standard/">PUCO's Renewable and Advanced Energy Portoflio Website</a>&nbsp;—&nbsp;Links and information on Ohio's AEPS</li>
  <li><a href="http://www.nrel.gov/analysis/pdfs/41409.pdf">National Renewable Energy Laboratory (NREL) RPS technical report</a>&nbsp;—&nbsp;<i>Renewable Portfolio Standards in the States: Balancing Goals and Implementation Strategies</i></li>
{% endblock %}