{% extends 'state.html' %}
{% block title %} | {{ state|capitalize }}{% endblock %}
{% block left_nav %}
<li><a href="{{ url_for('calculator.trajectory') }}" data-name="trajectory">Set RPS trajectory</a></li>
<li><a href="{{ url_for('calculator.carveouts') }}" data-name="carveouts">Set carveouts</a></li>
<li><a href="{{ url_for('calculator.pricing') }}" data-name="pricing">Set cost cap &amp; pricing</a></li>
<li class="active"><a href data-name="cost">Projected cost</a></li>
{% endblock %}
{% block content %}
  {{ super() }}
  <section class="clearfix">
    <h2>Cost cap</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et metus vitae neque molestie hendrerit
      eget eget dolor. Sed felis diam, imperdiet eget nulla ornare, semper viverra ante. Pellentesque in risus
      sem. In nisl velit, pellentesque in elit at, adipiscing sodales metus. Vestibulum faucibus placerat
      lectus at aliquam.</p>
    <div id="cost_cap" class="module clearfix chart-outer-wrap">
    </div>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      Donec sodales semper erat. Suspendisse molestie turpis tempor leo dictum, commodo lacinia tellus laoreet.
      Sed consequat felis eget nulla vulputate, placerat pulvinar sapien rhoncus. Nam mollis est neque, faucibus
      consequat arcu hendrerit id. Sed feugiat ultrices volutpat. Nam volutpat aliquam ultricies. Phasellus
      orci erat, pretium eget velit ut, congue sodales massa. Aliquam erat volutpat.</p>
    <ul id="crumbs">
      <li id="crumb_trajectory"><a href="/{{ state }}/trajectory">Trajectory</a>
      <li id="crumb_carveouts"><a href="/{{ state }}/carveouts">Carveouts</a></li>
      <li id="crumb_pricing"><a href="/{{ state }}/pricing">Cost cap &amp; Pricing</a></li>
      <li id="crumb_cost" class="active"><a href="/{{ state }}/cost">Projected Cost</a></li>
    </ul>
  </section>
{% endblock %}
{% block bodyjs %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/app/stacked_chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app/session.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app/cost.js') }}"></script>
{% endblock %}