#main_content li { list-style-type: none !important; }

#legend { font-size: 0.8em; }

ul ul, li { padding-left: 15px; padding-top: 0.25em; margin-top: 0.5em; margin-bottom: 1em; border-left: 1px solid #999999; border-top: 1px solid #999999; }

ul ul { margin-top: 0.25em; }

li li { padding: 0; margin: 0; border: none; }

#graph-wrap { width: 950px; position: relative; }

#legend { width: 320px; display: none; font-size: 0.8em; float: left; }

#graph { width: 600px; height: 700px; position: relative; float: left; margin-right: 30px; }

.regdiv { stroke: black; stroke-width: 2; pointer-events: none; }

.segdiv { stroke: #eeeeee; stroke-width: 1; fill: none; pointer-events: none; }

.state-border { stroke: #eeeeee; stroke-width: 1; fill: none; pointer-events: visible; }

.state-border.active { stroke: #eeeeee; stroke-width: 3; }

.state-label-disc { fill: black; stroke: black; stroke-width: 0; visibility: hidden; }

.state-label-disc.active { visibility: visible; }

.state-label-text { font-weight: normal; text-anchor: middle; dominant-baseline: central; }

.state-label-text.active { font-weight: bold; fill: #eeeeee; }

.state-label-disc.current { visibility: visible !important; }

.state-label-text.current { font-weight: bold !important; fill: #eeeeee !important; }

/* legend */
#legend h2 { margin: 10px 0; padding: 0; }

#legend h3 { width: 260px; display: inline; font-weight: bold; padding: 0; }

#legend li { position: relative; padding: 5px 5px 10px; min-height: 20px; clear: both; }

#legend p { padding-left: 30px; width: 260px; }

#legend .dot { float: left; height: 20px; width: 20px; margin-right: 10px; }

.rps .dot { background-color: black; }

.tech_req .dot { background-color: #e69f00; }

.penalties .dot { background-color: #56b4e9; }

.geo_eligible .dot { background-color: #009e73; }

.net_meter .dot { background-color: #f0e442; }

.renew_interconnect .dot { background-color: #0072b2; }

.perform_incentive .dot { background-color: #d55e00; }

.reside_rebate .dot { background-color: #cc79a7; }
