{% macro calc_left_nav(state, page) %}
  {% for p in [
    ('trajectory', 'Set RPS trajectory'),
    ('carveouts', 'Set carveouts'),
    ('pricing', 'Set cost cap &amp; pricing'),
    ('cost', 'Projected cost'),
  ] %}
  <li{% if page==p[0] %} class="active"{% endif %}>
    <a href="{{ url_for('calculator.%s' % p[0], state=state) }}" data-name="{{ p[0] }}">
      {{ p[1]|safe }}
    </a></li>
  {% endfor %}
  <li class="left_nav_feature_link">
    <a href="{{ url_for('state_pages.overview', state=state) }}" class="offpage-link">
      Back to your state’s legislative overview
    </a></li>
  <li class="left_nav_feature_link">
    <a href="{{ url_for('state_comparison.comparison') }}" class="offpage-link">
      How does your state stack up?
    </a></li>
{% endmacro %}