{% extends 'base.html' %}
{% block title %} | {{ state|capitalize }}{% endblock %}
{% block headcss %}
  <link href="{{ url_for('static', filename='css/main.css') }}?{{ now }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/map_styles.css') }}?{{ now }}" rel="stylesheet">
{% endblock %}
{% block page %}
  <header id="main_nav">
    <nav>
      <ul id="top_nav" class="clearfix">
        <li><a href="{{ url_for('rpscalc.index') }}">Home</a></li>
        <li class="menu-states" id="menu_states_overview">
          <a href="{{ url_for('state_pages.overview', state=state) }}">RPS Overview</a>
          <ul>
            {% for s in all_rps_states %}
            <li><a href="{{ url_for('state_pages.overview', state=s[0]) }}">{{ s[1]|safe }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="menu-states" id="menu_states_calculator">
          <a href="{{ url_for('calculator.trajectory', state=state) }}">Cost Calculator</a>
          <ul>
            {% for s in all_rps_states %}
            <li><a href="{{ url_for('calculator.trajectory', state=s[0]) }}">{{ s[1]|safe }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="/glossary">Glossary</a></li>
        <li><a href>Documentation</a></li>
        {% if state %}<li id="menu_state_abbr">{{ state|state_abbr }}</li>{% endif %}
        <li><ul id="left_nav">
          {% block left_nav %}
          {% endblock %}
        </ul></li>
      </ul>
    </nav>
  </header>
  <article id="main_content">
  {% block content %}
    {% block header %}
      <section>
        <header>
          <h1>{{ title|replace('_', ' ')|title }}</h1>
        </header>
      </section>
    {% endblock %}
  {% endblock %}
  </article>
  <script>
    Options = window.Options || {};
    {%- block session_data -%}
    Options.data = {{ session|session_json|safe }};
    {%- endblock -%}
    Options.state = '{{ state }}';
    {% if state %}Options.state_abbr = '{{ state|state_abbr }}';{% endif %}
    Options.graph_type = '{{ graph_type }}';
  </script>
  {% block bodyjs %}
{#  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js"></script>#}
    <script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"></script>
  <script>
    window.d3 || document.write('<script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"><\/script>')
  </script>
{#  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>#}
    <script src="{{ url_for('static', filename='js/vendor/json2.js') }}"></script>
  <script>
    window.JSON || document.write('<script src="{{ url_for('static', filename='js/vendor/json2.js') }}"><\/script>')
  </script>
  {% assets 'js_main' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% endblock %}
{% endblock %}