{% extends 'base.html' %}
{% block title %} | {{ state|capitalize }}{% endblock %}
{% block headcss %}
  <link href="{{ url_for('static', filename='css/main.css') }}?{{ now }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/map_styles.css') }}?{{ now }}" rel="stylesheet">
{% endblock %}
{% block page %}
  <header id="main_nav">
    <nav>
      <ul id="top_nav" class="clearfix">
        <li><a href="{{ url_for('rpscalc.index') }}">Home</a></li>
        <li id="menu_states"><a href>RPS Overview</a><ul>
          <li><a href="{{ url_for('state_pages.overview', state='arizona') }}">Arizona</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='california') }}">California</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='hawaii') }}">Hawai&lsquo;i</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='illinois') }}">Illinois</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='iowa') }}">Iowa</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='kansas') }}">Kansas</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='maryland') }}">Maryland</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='michigan') }}">Michigan</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='maine') }}">Maine</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='montana') }}">Montana</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='nevada') }}">Nevada</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='new_jersey') }}">New Jersey</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='north_carolina') }}">North Carolina</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='ohio') }}">Ohio</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='oregon') }}">Oregon</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='rhode_island') }}">Rhode Island</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='washington') }}">Washington</a></li>
          <li><a href="{{ url_for('state_pages.overview', state='wisconsin') }}">Wisconsin</a></li>
        </ul></li>
        <li id="menu_states"><a href>Cost Calculator</a><ul>
          <li><a href="{{ url_for('calculator.trajectory', state='arizona') }}">Arizona</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='california') }}">California</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='hawaii') }}">Hawai&lsquo;i</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='illinois') }}">Illinois</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='iowa') }}">Iowa</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='kansas') }}">Kansas</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='maryland') }}">Maryland</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='michigan') }}">Michigan</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='maine') }}">Maine</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='montana') }}">Montana</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='nevada') }}">Nevada</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='new_jersey') }}">New Jersey</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='north_carolina') }}">North Carolina</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='ohio') }}">Ohio</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='oregon') }}">Oregon</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='rhode_island') }}">Rhode Island</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='washington') }}">Washington</a></li>
          <li><a href="{{ url_for('calculator.trajectory', state='wisconsin') }}">Wisconsin</a></li>
        </ul></li>

        <li><a href="/glossary">Glossary</a></li>
        <li><a href>Documentation</a></li>
        <li><ul id="left_nav">
          {% block left_nav %}
          {% endblock %}
        </ul></li>
      </ul>
    </nav>
  </header>
  <article id="main_content">
  {% block content %}
    {% block header %}
      <section>
        <header>
          <h1>{{ title|replace('_', ' ')|title }}</h1>
        </header>
      </section>
    {% endblock %}
  {% endblock %}
  </article>
  <script>
    Options = window.Options || {};
    {%- block session_data -%}
    Options.data = {{ session|session_json|safe }};
    {%- endblock -%}
    Options.state = '{{ state }}';
    Options.graph_type = '{{ graph_type }}';
  </script>
  {% block bodyjs %}
{#  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js"></script>#}
    <script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"></script>
  <script>
    window.d3 || document.write('<script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"><\/script>')
  </script>
{#  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>#}
    <script src="{{ url_for('static', filename='js/vendor/json2.js') }}"></script>
  <script>
    window.JSON || document.write('<script src="{{ url_for('static', filename='js/vendor/json2.js') }}"><\/script>')
  </script>
  {% assets 'js_main' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% endblock %}
{% endblock %}