{% extends 'base_page.html' %}
{% block headcss %}
{{ super() }}
<style>
  #left_nav {display:none;}
  #main_content section {
    width: 960px;
    margin: 0;
  }
</style>{% endblock %}
{% block content %}
{% block header %}
  <section>
    <header>
      <h1 style="">{{ title|replace('_', ' ')|title }}</h1>
    </header>
  </section>
{% endblock %}
<div id="map"></div>
{% endblock %}
{% block bodyjs %}
{{ super() }}
<script src="{{ url_for('static', filename='js/home_map.js') }}"></script>
{% endblock %}