{% extends 'base_page.html' %}
{% block title %} | {{ state|capitalize }}{% endblock %}
{% block left_nav %}
  <li><a href data-name="snapshot" class="onpage-link">Snapshot</a></li>
  <li><a href data-name="energy" class="onpage-link">Energy Details</a></li>
  <li><a href data-name="legislation" class="onpage-link">Legislation</a></li>
  <li><a href data-name="resources" class="onpage-link">Resources</a></li>
  <li id="left_nav_calculator_link">
    <a href="{{ url_for('calculator.trajectory', state=state) }}" class="offpage-link">
      Design your own renewables future
    </a></li>
  <li id="left_nav_comparison_link">
    <a href="{{ url_for('rpscalc.pinwheel') }}" class="offpage-link">
      State Comparisons
    </a></li>
{% endblock %}
{% block header %}
  <section>
    <header>
      <h1>{{ state|replace('_', ' ')|title }}</h1>
      <img src="{{ url_for('static', filename='images/state_seals/' + state + '.png') }}" alt="State seal of {{ state|capitalize }}">
    </header>
  </section>
{% endblock %}