{% extends 'pricing.html' %}
{% block state_specific %}
  New Jersey also protects its residents by limiting the rate increase
  from the carve out on solar power being in effect to no more than 2% of
  the customer’s bill annually. That is, if rates increase by more than 2%
  overall, the solar carve out requirements are frozen in that period, but
  the rest of the RPS requirements remain in place, regardless of the
  resulting impact on consumer electric prices.
{% endblock %}
{% block state_policy %}
  <input type="hidden" id="policy_captype" name="policy_captype" value="none">
{% endblock %}