{% extends 'base_page.html' %}
{% block title %} | State Comparison{% endblock %}
{% block headcss %}
  {{ super() }}
  <link rel=stylesheet href={{ url_for('static', filename='css/pinwheel.css') }} media=all>
{% endblock %}
{% block content %}
{% block header %}
  <section>
    <header>
      <h1 style="">{{ title|replace('_', ' ') }}</h1>
    </header>
  </section>
{% endblock %}
  <section>
    <h2>Cras ac lorem et velit tincidunt porta</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor
      tempor fringilla. Morbi in blandit eros, nec egestas libero. Ut ultrices
      arcu ac accumsan placerat. Etiam condimentum turpis nec massa elementum,
      in tincidunt tortor mattis. Donec nec lectus laoreet, porttitor lacus
      non, sodales tortor. Nullam vitae sagittis lacus. Nullam a tempus
      metus.</p>
  </section>
  <article id=graph-wrap>
    <div id=graph>
    </div>
    <div id=legend>
      <h2 class=state>Alabama</h2>
      <ul class=legend>
        <li data-segment=rps><div class=dot></div></li>
        <li data-segment=tech_req><div class=dot></div></li>
        <li data-segment=penalties><div class=dot></div></li>
        <li data-segment=geo_eligible><div class=dot></div></li>
        <li data-segment=net_meter><div class=dot></div></li>
        <li data-segment=renew_interconnect><div class=dot></div></li>
        <li data-segment=perform_incentive><div class=dot></div></li>
        <li data-segment=reside_rebate><div class=dot></div></li>
      </ul>
    </div>
  </article>
{% endblock %}
{% block bodyjs %}
{{ super() }}
<script src={{ url_for('static', filename='js/app/pinwheel.js') }}></script>
{% endblock %}