{% extends 'state.html' %}
{% block title %} | {{ state|capitalize }}{% endblock %}
{% block left_nav %}
  <li><a href="{{ url_for('calculator.trajectory', state=state) }}" data-name="trajectory">Set RPS trajectory</a></li>
  <li><a href="{{ url_for('calculator.carveouts', state=state) }}" data-name="carveouts">Set carveouts</a></li>
  <li><a href="{{ url_for('calculator.pricing', state=state) }}" data-name="pricing">Set cost cap &amp; pricing</a></li>
  <li><a href="{{ url_for('calculator.cost', state=state) }}" data-name="cost">Projected cost</a></li>
  <li id="left_nav_calculator_link"><a href="{{ url_for('state_pages.overview', state=state) }}" class="offpage-link">State Overview</a></li>
  <li id="left_nav_comparison_link"><a href="{{ url_for('rpscalc.pinwheel') }}" class="offpage-link">State Comparisons</a></li>
{% endblock %}
{% block content %}
  {{ super() }}
  <section class="clearfix">
    <h2>Sumpin' sumpin'</h2>
    <p>On this page, you can explore the interactions of the major components of an RPS. Try changing some of your policy’s characteristics, like its trajectory or carve-outs, to see how they affect the overall goal and the cost of meeting this goal.</p>
    <div class="chart-outer-wrap">
      <div id="cost_chart" class="module clearfix"></div>
      <div id="chart_wrap" class="module clearfix" style="width:730px; left:-30px; position: relative;"></div>
    </div>
    <p>This graph is identical to the previous slide; however, here you have the ability to edit your RPS trajectory and carve-outs, seeing the impact in real-time. The values you chose at the beginning of this calculator are entered in the boxes. Try adjusting column values individually to see the effect on the overlapping region. Refer back to the Cost Cap & Pricing slide to review or adjust assumptions about the cost of wind and solar power, and the other parameters that play into the success of your RPS.</p>
  </section>
{% endblock %}
{% block bodyjs %}
  {{ super() }}
  {% assets 'js_advanced' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}