{% extends 'base_state.html' %}
{% import '_macros.html' as macros %}
{% block title %} | {{ state|capitalize }}{% endblock %}
{% block left_nav %}
  {{ macros.calc_left_nav(state, 'advanced') }}
{% endblock %}
{% block content %}
  {{ super() }}
  <section class="clearfix">
    <h2>Sumpin' sumpin'</h2>
    <p>On this page, you can explore the interactions of the major components of an RPS. Try changing some of your policy’s characteristics, like its trajectory or carve-outs, to see how they affect the overall goal and the cost of meeting this goal.</p>
    <div class="chart-outer-wrap">
      <div id="cost_chart" class="module clearfix"></div>
      <div id="chart_wrap" class="module clearfix" style="width:730px; left:-30px; position: relative;"></div>
    </div>
    <ul id="crumbs">
      <li id="crumb_trajectory"><a href="{{ url_for('calculator.trajectory', state=state) }}">Trajectory</a>
      <li id="crumb_carveouts"><a href="{{ url_for('calculator.carveouts', state=state) }}">Carveouts</a></li>
      <li id="crumb_pricing"><a href="{{ url_for('calculator.pricing', state=state) }}">Cost cap &amp; Pricing</a></li>
      <li id="crumb_cost" class="active"><a href="{{ url_for('calculator.cost', state=state) }}">Projected Cost</a></li>
    </ul>
  </section>
{% endblock %}
{% block bodyjs %}
  {{ super() }}
{#  <script src="{{ url_for('calculator.static', filename='js/advanced.js') }}"></script>#}
  {% assets 'js_advanced' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}