{% extends 'index.html' %}
{% block content %}
  <article id="main_content">
    {{ super() }}
    <section id="glossary">

    </section>
  </article>
{% endblock %}
{% block bodyjs %}
  {{ super() }}
  <script>
  d3.json('/static/js/data/glossary.json', function(_data) {
    var glossary = d3.select('#glossary').append('dl'),
      defs = glossary.selectAll('.definition')
        .data(_data).enter().append('dd')
        .attr('class', 'definition')
        .attr('id', function(d, i) { return 'definition_' + i; })
        .text(function(d) { return d.def; });
    defs.each(function(d, i) {
      glossary.insert('dt', '#definition_' + i)
        .text(d.term);
    })
  });
  </script>
{% endblock %}