<!DOCTYPE html>
<html lang="en" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>RDCEP | RPS Calculator{% block title %} | {{ state|capitalize }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content>
    <meta name="author" content>
    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/states.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <header id="main-nav">
    <nav>
      <ul id="top-nav" class="clearfix">
        <li><a href>Home</a></li>
        <li id="menu-states"><a href>States</a><ul>
          <li><a href="/arizona">Arizona</a></li>
          <li><a href="/california">California</a></li>
          <li><a href="/illinois">Illinois</a></li>
          <li><a href="/maryland">Maryland</a></li>
          <li><a href="/michigan">Michigan</a></li>
          <li><a href="/nevada">Nevada</a></li>
          <li><a href="/new_jersey">New Jersey</a></li>
        </ul></li>
        <li><a href>Cost Calculator</a></li>
        <li><a href>Policy</a></li>
        <li><ul id="left-nav">
          <li><a href data-name="snapshot">Snapshot</a></li>
          <li><a href data-name="energy">Energy Details</a></li>
          <li><a href data-name="legislation">Legislation</a></li>
          <li><a href data-name="resources">Resources</a></li>
        </ul></li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
  {% block bodyjs %}
  {% endblock %}
</body>
</html>