<!DOCTYPE html>
<html>
<head>
  <title>Pinwheel/Sunburst Work</title>
  <link rel=stylesheet href=/static/css/pinwheel.css media=all>
</head>
<body>
<article id=graph-wrap>
  <div id=graph>
  </div>
  <div id=legend>
    <h2 class=state>Alabama</h2>
    <ul class=legend>
      <li data-segment=rps><div class=dot></div></li>
      <li data-segment=tech_req><div class=dot></div></li>
      <li data-segment=penalties><div class=dot></div></li>
      <li data-segment=geo_eligible><div class=dot></div></li>
      <li data-segment=net_meter><div class=dot></div></li>
      <li data-segment=renew_interconnect><div class=dot></div></li>
      <li data-segment=perform_incentive><div class=dot></div></li>
      <li data-segment=reside_rebate><div class=dot></div></li>
    </ul>
  </div>
</article>
<script src=/static/js/vendor/d3.v3.min.js charset=utf-8></script>
<script src=/static/js/app/pinwheel.js></script>
</body>
</html>