{% extends 'index.html' %}
{% block title %} | {{ state|capitalize }}{% endblock %}
{% block headcss %}<link href="/static/css/main.css" rel="stylesheet">{% endblock %}
{% block left_nav %}
<li><a href="/{{ state }}/trajectory" data-name="trajectory">Set RPS trajectory</a></li>
<li><a href data-name="carveouts">Set carveouts</a></li>
<li class="active"><a href="/{{ state }}/pricing" data-name="pricing">Set cost cap &amp; pricing</a></li>
<li><a href="/{{ state }}/cost" data-name="cost">Projected cost</a></li>
{% endblock %}
{% block content %}
  <article id="main_content">
    <section>
      <header>
        <h1></h1>
        <img src alt>
      </header>
    </section>
    <section class="clearfix">
      <h2>Cost cap and pricing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et metus vitae neque molestie hendrerit
        eget eget dolor. Sed felis diam, imperdiet eget nulla ornare, semper viverra ante. Pellentesque in risus
        sem. In nisl velit, pellentesque in elit at, adipiscing sodales metus. Vestibulum faucibus placerat
        lectus at aliquam.</p>
      <div id="pricing" class="module clearfix chart-outer-wrap">
        <form id="pricing_form">
          <fieldset id="wind_costs" class="narrow">
            <h4>Wind Costs</h4>
            <div class="clearfix">
              <label for="wind_installation">Installation ($/W)</label>
              <input type="text" value="2" id="wind_installation" name="wind_installation">
            </div>
            <div class="clearfix">
              <label for="wind_om">O &amp; M ($/MWh)</label>
              <input type="text" value="10" id="wind_om" name="wind_om">
            </div>
            <div class="clearfix">
              <label for="wind_integration">Integration ($/MWh)</label>
              <input type="text" value="5" id="wind_integration" name="wind_integration">
            </div>
            <div class="clearfix">
              <label for="wind_amortization">Amortization (%)</label>
              <input type="text" value="9" id="wind_amortization" name="wind_amortization">
            </div>
          </fieldset>
          <fieldset id="solar_costs" class="narrow">
            <h4>Solar Costs</h4>
            <div class="clearfix">
              <label for="solar_installation">Installation ($/W)</label>
              <input type="text" value="3.45" id="solar_installation" name="solar_installation">
            </div>
            <div class="clearfix">
              <label for="solar_om">O &amp; M ($/MWh)</label>
              <input type="text" value="0.012" id="solar_om" name="solar_om">
            </div>
            <div class="clearfix">
              <label for="solar_integration">Integration ($/MWh)</label>
              <input type="text" value="0" id="solar_integration" name="solar_integration">
            </div>
            <div class="clearfix">
              <label for="solar_amortization">Amortization (%)</label>
              <input type="text" value="9" id="solar_amortization" name="solar_amortization">
            </div>
          </fieldset>
          <fieldset id="policy_costs" class="narrow">
            <h4>Policy choices</h4>
            <div class="clearfix">
              <label for="policy_costcap">Cost cap (%)</label>
              <input type="text" value="2" id="policy_costcap" name="policy_costcap">
            </div>
            <div class="clearfix">
              <label for="policy_retail">Retail ($/MWh)</label>
              <input type="text" value="100" id="policy_retail" name="policy_retail">
            </div>
            <div class="clearfix">
              <label for="policy_wholesale">Wholesale ($/MWh)</label>
              <input type="text" value="35" id="policy_wholesale" name="policy_wholesale">
            </div>
            <div class="clearfix">
              <label for="policy_ptc">PTC</label>
              <input type="checkbox" id="policy_ptc" name="policy_ptc">
            </div>
          </fieldset>
        </form>
      </div>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Donec sodales semper erat. Suspendisse molestie turpis tempor leo dictum, commodo lacinia tellus laoreet.
        Sed consequat felis eget nulla vulputate, placerat pulvinar sapien rhoncus. Nam mollis est neque, faucibus
        consequat arcu hendrerit id. Sed feugiat ultrices volutpat. Nam volutpat aliquam ultricies. Phasellus
        orci erat, pretium eget velit ut, congue sodales massa. Aliquam erat volutpat.</p>
      <ul id="crumbs">
        <li id="crumb_trajectory"><a href="/{{ state }}/trajectory">Trajectory</a>
        <li id="crumb_carveouts"><a href="/{{ state }}/carveouts">Carveouts</a></li>
        <li id="crumb_pricing" class="active"><a href="/{{ state }}/pricing">Cost cap &amp; Pricing</a></li>
        <li id="crumb_cost"><a href="/{{ state }}/cost">Projected Cost</a></li>
      </ul>
    </section>
  </article>
{% endblock %}
{% block bodyjs %}
  <script>
    Options = window.Options || {};
    Options.state = '{{ state }}';
    Options.graph_type = '{{ graph_type }}';
  </script>
  <script src="/static/js/vendor/d3.v3.min.js" charset="utf-8"></script>
  <script src="/static/js/graphs/stacked_chart.js"></script>
  <script>
    var width = 760,
        height = 400,
        padding = 30,
        container = '#carveouts',
        parse_date = d3.time.format('%Y').parse;
    d3.json('/static/js/state_data.json', function(_data) {
      var def_line = [{data: []}],
          data = [{type: 'rps', data: []}]
          _s = _data.features.filter(function(d) {
            return (d.properties.machine_name == Options.state) ? d : null;
          })[0];
      // Parse trajectory data
      _s.properties.carveouts.forEach(function(d, i) {
        if (d.type === 'wind' || d.type === 'solar') {
          d.data.forEach(function(dd, ii) {
            var _t = _s.properties.trajectory[ii];
            d.data[ii] = {x: parse_date(String(ii + 2000)), y: _t === 0 ? 0 : dd / _s.properties.trajectory[ii] * 100, type: d.type};
          });
        } else {
          _s.properties.carveouts.splice(i, 1);
        }
      });
      _s.properties.carveouts.sort(function(a, b) { return a.data[a.data.length-1].y < b.data[b.data.length-1].y ? -1 : a.data[a.data.length-1].y > b.data[b.data.length-1].y ? 1 : 0 });
      // Set header info
      d3.select('#main_content img').attr('src', '/static/images/state_seals/' + _s.properties.abbr + '.png');
      d3.select('h1').text(_s.properties.name);
      var foo = new RPSGraph()
        .padding(30)
        .width(width).height(height)
        .select(container)
        .title('Adjust the state&rsquo;s carveouts')
        .x(d3.time.scale())
        .y(d3.scale.linear())
        .domain([new Date(2013, 0, 1), new Date(2030, 0, 1)], [0, 100])
        .max_domains([50, 100])
        .format_x(function(x) { return x.getFullYear(); })
        .format_y(function(y) { return d3.format('.1f')(y); })
        .data(_s.properties.carveouts)
        .stacked(true)
        .hoverable(true)
        .draggable(true, false)
        .h_grid(true)
        .draw();
    });
  </script>
{% endblock %}