<!DOCTYPE html>
<html lang="en" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>RDCEP | RPS Calculator | {{ state|capitalize }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content>
    <meta name="author" content>
    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/trajectory.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <header id="main_nav">
    <nav>
      <ul id="top_nav" class="clearfix">
        <li><a href>Home</a></li>
        <li id="menu_states" class="top-level"><a href>States</a><ul>
          <li><a href="/state/arizona">Arizona</a></li>
          <li><a href="/state/california">California</a></li>
          <li><a href="/state/illinois">Illinois</a></li>
          <li><a href="/state/nevada">Nevada</a></li>
          <li><a href="/state/new_jersey">New Jersey</a></li>
        </ul></li>
        <li><a href>Cost Calculator</a></li>
        <li><a href>Policy</a></li>
        <li><ul id="left_nav">
          <li><a href data-name="snapshot">Snapshot</a></li>
          <li><a href data-name="energy">Energy Details</a></li>
          <li><a href data-name="legislation">Legislation</a></li>
          <li><a href data-name="resources">Resources</a></li>
        </ul></li>
      </ul>
    </nav>
  </header>
  <article id="main_content">
    <section>
      <header>
        <h1></h1>
        <img src alt>
      </header>
    </section>
    <section id="trajectory" class="clearfix">
      <h2>Trajectory</h2>
      <div class="wide module clearfix">
        <h3>Adjust the state's trajectory [
          <span id="drag_switch" class="switch active"><a href>drag</a></span> |
          <span id="type_switch" class="switch"><a href>type</a></span> ]</h3>
        <div id="state_trajectory"></div>

      </div>
    </section>
  </article>
  <script>
    Options = window.Options || {};
    Options.state = '{{ state }}';
    Options.graph_type = '{{ graph_type }}';
  </script>
  <script src="/static/js/vendor/d3.v3.min.js" charset="utf-8"></script>
  <script src="/static/js/vendor/json2.js"></script>
  <script src="/static/js/wind_carveout.js?2"></script>
</body>
</html>