{% extends 'base_page.html' %}
{% block left_nav %}{% endblock %}
{% block content %}
    {{ super() }}
    <section id="glossary" class="clearfix">
    </section>
{% endblock %}
{% block bodyjs %}
  {{ super() }}
  <script>
  d3.json('/static/js/data/glossary.json', function(_data) {
    var left_nav = d3.select('#left_nav'),
      glossary = d3.select('#glossary').append('dl'),
      defs = glossary.selectAll('.definition')
        .data(_data).enter().append('dd')
        .attr('class', 'definition')
        .attr('id', function(d, i) { return 'definition_' + i; })
        .text(function(d) { return d.def; });
    defs.each(function(d, i) {
      glossary.insert('dt', '#definition_' + i)
        .attr('id', d.id)
        .text(d.term);
      left_nav.append('li').append('a')
        .attr('href', '#' + d.id).text(d.term.replace(/\(.+\)/, ''))
        .attr('data-name', d.id)
        .on('click', function() {
          d3.event.preventDefault();
          window.location.hash = this.getAttribute('data-name');
          d3.select('#main-nav').style('display', 'none').style('display', 'block');
          var _oy = (window.pageYOffset || document.body.scrollTop) - document.getElementById('left_nav').getBoundingClientRect().top + 1;
          window.scroll(0, _oy);
        });
    });

    var locate_and_scroll = function(pane) {
      var start_y = window.pageYOffset
        , pane_y = document.getElementById(pane).getBoundingClientRect().top
        , pane_h = document.getElementById(pane).getBoundingClientRect().height
        , buffer_y = document.getElementById('left_nav').getBoundingClientRect().top
        , body = document.body
        , html = document.documentElement
        , height = Math.max( body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight );
      d3.select('body').style('padding-bottom', function() {
        return ((height - (start_y + pane_y)) < window.innerHeight) ? (window.innerHeight - pane_h - buffer_y)+'px' : 0;
      });
      window.location.hash = pane;
      d3.select('#main-nav').style('display', 'none').style('display', 'block');
      window.scroll(0, pane_y + start_y - buffer_y + 1);
    };

    d3.selectAll('#left_nav a')
    .on('click', function() {
      d3.event.preventDefault();
      var pane = this.getAttribute('data-name');
      locate_and_scroll(pane);
    });
    console.log(window.location.hash.slice(1));
    if (window.location.hash.length > 0) {
      locate_and_scroll(window.location.hash.slice(1));
    }
  });
  </script>
{% endblock %}